@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-paper text-dark;
  }
}

/* Custom Animations that might be complex to do in config */
@keyframes equalizer {
  0%, 100% { height: 15%; }
  50% { height: 95%; }
}
